/*
    Big tablets to 1200px (widths smalled than 1140px row)
*/
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 4%;
  }

  .row {
    padding: 0 2%;
  }
}

/*a
    Small tablets to big tablets from 768px to 1023px
*/
@media only screen and (max-width: 1023px) {
  html {
    font-size: 9px;
  }
  section {
    padding: 50px 0;
  }

  .long-copy {
    width: 80%;
    margin-left: 10%;
  }

  .steps-box:first-child img {
    width: 50%;
  }

  .steps-box:last-child {
    padding-right: 3%;
  }

  .plan-box ul li {
    font-size: 1.7rem;
  }

  .plan-price {
    font-size: 285%;
    font-weight: 100;
    margin-bottom: 1rem;
    color: #e67e22;
  }

  .plan-price span {
    font-size: 30%;
    font-weight: 300;
  }

  .plan-price-meal {
    font-size: 90%;
  }

  .plan-box {
    width: 95%;
    margin-left: 2.5%;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    padding: 0.3rem;
  }

  textarea {
    height: 7rem;
  }

  label {
    font-size: 95%;
  }
}

/*
    Small phones to small tablets from 481px to 767px
*/
@media only screen and (max-width: 767px) {
  html {
    font-size: 8px;
  }
  section {
    padding: 5rem 0;
  }

  .row,
  .hero-text-box {
    padding: 0 5%;
  }

  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }

  .main-nav {
    display: none;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  .long-copy {
    width: 100%;
    margin-left: 0%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .steps-box:first-child {
    text-align: center;
    margin-top: 1rem;
    padding-right: 0;
  }
  .steps-box:first-child img {
    width: 35%;
  }

  .steps-box:last-child {
    padding-right: 3%;
    margin-top: 3rem;
    margin-left: 0;
  }

  .works-step {
    width: 95%;
    margin-left: 2.5%;
  }

  .works-step p {
    padding-top: 1%;
  }

  .works-step:last-of-type {
    margin-bottom: 6rem;
  }

  .btn-app:first-of-type {
    margin-left: 2rem;
  }

  blockquote {
    padding: 1%;
    font-style: italic;
    line-height: 2.9rem;
    position: relative;
    margin-top: 5rem;
    width: 90%;
    margin-left: 5%;
  }

  cite {
    margin-top: 1.5rem;
    font-size: 90%;
    display: block;
  }

  blockquote::before {
    font-size: 400%;
  }

  .contact-form {
    width: 100%;
  }

  .footer-nav,
  .social-links {
    float: unset;
  }
}

/*
    Small phones from 0 to 480px
*/
@media only screen and (max-width: 480px) {
  html {
    font-size: 7px;
  }
  section {
    padding: 3rem 0;
  }

  .row,
  .hero-text-box {
    padding: 0 4%;
  }

  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }

  .main-nav {
    display: none;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .section-features ion-icon {
    font-size: 5rem;
  }

  .works-step {
    margin-bottom: 2rem;
  }

  .contact-form {
    width: 100%;
  }

  .footer-nav,
  .social-links {
    float: unset;
  }
}
